/* CSS for ProfileXBlock */

.profileblock {
    border: 1px solid !important;
    border-color: #dddddd !important;
    padding: 15px !important;
}

.profile_photo_upload {
    display:none !important;
}

.profileblock .count {
    font-weight: bold !important;
}

.profileblock p {
    cursor: pointer !important;
}

.profileblock .active .active-edit{
    display:block !important;
}

.profileblock .inactive-edit {
    font-weight:bold !important; 
    padding: 0px 10px 0px 10px !important;
    -moz-box-sizing: border-box !important; 
    -webkit-box-sizing: border-box !important; 
    box-sizing: border-box !important;
    border-width: 1px !important; 
    border-style: solid !important;
    width: 100% !important; 
    border-color: #dddddd !important;
    background-color: #fdfdfd !important;
}

.profileblock  .profile_one_liner .inactive-edit {
    height:19px !important;
}

.profileblock .profile_ol_edit {
    height:19px !important;
}

.profileblock .active .inactive-edit{
    display:none !important;
}

.profileblock .active-edit{
    display:none !important;
}

.profileblock .inactive-edit{
    display:block !important;
}

/* This is kind of aggressive, but the block is designed to be on it's
   own page without much styling around it. The styling in
   edx-platform is sensible, but workbench has issues. This strips out
   some of the bad styling Workbench would put around it otherwise. */
.view-workbench {
	background: #fff !important;
	color: #666 !important;
	font: 85%/140% Arial, Helvetica, sans-serif !important;
	width: 800px !important;
	max-width: 96% !important;
	margin: 0 auto !important;
}

/* In edx-platform, we restrict this styling to just the XBlock
   itself. */
.profileblock {
	background: #fff !important;
	color: #666 !important;
	font: 85%/140% Arial, Helvetica, sans-serif !important;
	width: 800px !important;
	max-width: 96% !important;
	margin: 0 auto !important;
}

.profileblock p {
    line-height: 16.18px !important;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 11.111111640930176px !important;
    color: rgb(102, 102, 102) !important;
    margin-bottom: 11.111111640930176px !important;
    margin-top: 11.111111640930176px !important;
}

.profileblock .p {
    line-height: 16.18px !important;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 11.111111640930176px !important;
    color: rgb(102, 102, 102);
}

.profileblock a {
	color: #69C !important;
	text-decoration: none !important;
}

.profileblock a:hover {
	color: #F60 !important;
}

.profileblock h1 {
	font: 1.7em !important;
	/*line-height: 110% !important;*/
	font-family: Arial, Helvetica, sans-serif !important;
	height: 14.44444465637207px !important;
	line-height: 14.877721786499023px !important;
	margin-bottom: 20px !important;
	font-size: 17.78px !important;
	font-weight: bold !important;
	margin-top: 17.78px !important;
}

.profileblock h1, h2, h3 {
	color: #555 !important;
}

.profileblock h3 {
	border-top: solid 1px #eee !important;
	padding: 20px 0 !important;
	margin: 20px 0 0 !important;
	font-size: 150% !important;
}

.profileblock article {
	border-width: 4px 0px 0px 0px !important;
	border-style: solid !important;
}

/* set html5 elements to block */
.profileblock article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display: block !important;
}

#profile_pagewrap {
	width: 978px !important;
	max-width: 96% !important;
	margin: 0 auto !important;
}

.profile_wrapper {
	overflow: hidden !important;
}

/************************************************************************************
COLUMN
*************************************************************************************/
.profilecol {
	float: left !important;
	margin-left: 3.2% !important;
	margin-bottom: 30px !important;
	padding-right : 10px !important;
}

.fullwidth .profilecol {
	float: none !important;
	margin-left: 0 !important;
}
/* grid4 col */
.grid4 .profilecol {
	width: 22.6% !important;
}
/* grid3 col */
.grid3 .profilecol {
	width: 31.2% !important;
}
/* grid2 col */
.grid2 .profilecol {
	width: 48.4% !important;
}
/* clear col */
.grid4 .profilecol:nth-of-type(4n+1),
.grid3 .profilecol:nth-of-type(3n+1),
.grid2 .profilecol:nth-of-type(2n+1) {
	margin-left: 0 !important;

}

/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
/* reset cols to 3-column */
@media screen and (max-width: 740px) {
	/* grid4 */
	.grid4 .profilecol {
		width: 31.2% !important;
	}
	.grid4 .profilecol:nth-of-type(4n+1) {
		margin-left: 3.2% !important;

	}
	.grid4 .profilecol:nth-of-type(3n+1) {
		margin-left: 0 !important;

	}
}

/* reset cols to 2-column */
@media screen and (max-width: 600px) {
	/* grid4 */
	.grid4 .profilecol {
		width: 48.4% !important;
	}
	.grid4 .profilecol:nth-of-type(3n+1) {
		margin-left: 3.2% !important;
	}
	.grid4 .profilecol:nth-of-type(2n+1) {
		margin-left: 0 !important;
	}

	/* grid3 */
	.grid3 .profilecol {
		width: 48.4% !important;
	}
	.grid3 .profilecol:nth-of-type(3n+1) {
		margin-left: 3.2% !important;
	}
	.grid3 .profilecol:nth-of-type(2n+1) {
		margin-left: 0 !important;
	}
}

/* reset cols to fullwidth */
@media screen and (max-width: 400px) {
	/* grid4 */
	.profilecol {
		width: 100% !important !important;
		margin-left: 0 !important !important;

	}
}

.profileblock article:nth-of-type(100n) {
  border-color: azure !important;
}

.profileblock article:nth-of-type(100n+1) {
  border-color: aliceblue !important;
}

.profileblock article:nth-of-type(100n+2) {
  border-color: antiquewhite !important;
}

.profileblock article:nth-of-type(100n+3) {
  border-color: aquamarine !important;
}

