/* CSS for ProfileXBlock */

.profile_photo_upload {
    display:none;
}

.profileblock .count {
    font-weight: bold;
}

.profileblock p {
    cursor: pointer;
}

.profileblock .active .active-edit{
    display:block;
}

.profileblock .inactive-edit {
    font-weight:bold; 
    padding: 0px 10px 0px 10px;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    border-width: 1px; 
    border-style: solid;
    width: 100%; 
    border-color: #dddddd;
    background-color: #fdfdfd;
}

.profileblock  .profile_one_liner .inactive-edit {
    height:19px;
}

.profileblock .active .inactive-edit{
    display:none;
}

.profileblock .active-edit{
    display:none;
}

.profileblock .inactive-edit{
    display:block;
}

/* This is kind of aggressive, but the block is designed to 
   be on it's own page. This strips out some of the bad 
   styling around it otherwise. */
body {
	background: #fff;
	color: #666;
	font: 85%/140% Arial, Helvetica, sans-serif;
	width: 800px;
	max-width: 96%;
	margin: 0 auto;
}

.profileblock a {
	color: #69C;
	text-decoration: none;
}

.profileblock a:hover {
	color: #F60;
}

.profileblock h1 {
	font: 1.7em;
	line-height: 110%;
}

.profileblock h1, h2, h3 {
	color: #555;
}

.profileblock h3 {
	border-top: solid 1px #eee;
	padding: 20px 0;
	margin: 20px 0 0;
	font-size: 150%;
}

.profileblock article {
	border-width: 4px 0px 0px 0px;
	border-style: solid;
}

/* set html5 elements to block */
.profileblock article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display: block;
}

#profile_pagewrap {
	width: 978px;
	max-width: 96%;
	margin: 0 auto;
}

.profile_wrapper {
	overflow: hidden;
}

/************************************************************************************
COLUMN
*************************************************************************************/
.profilecol {
	float: left;
	margin-left: 3.2%;
	margin-bottom: 30px;
	padding-right : 10px;
}

.fullwidth .profilecol {
	float: none;
	margin-left: 0;
}
/* grid4 col */
.grid4 .profilecol {
	width: 22.6%;
}
/* grid3 col */
.grid3 .profilecol {
	width: 31.2%;
}
/* grid2 col */
.grid2 .profilecol {
	width: 48.4%;
}
/* clear col */
.grid4 .profilecol:nth-of-type(4n+1),
.grid3 .profilecol:nth-of-type(3n+1),
.grid2 .profilecol:nth-of-type(2n+1) {
	margin-left: 0;

}

/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
/* reset cols to 3-column */
@media screen and (max-width: 740px) {
	/* grid4 */
	.grid4 .profilecol {
		width: 31.2%;
	}
	.grid4 .profilecol:nth-of-type(4n+1) {
		margin-left: 3.2%;

	}
	.grid4 .profilecol:nth-of-type(3n+1) {
		margin-left: 0;

	}
}

/* reset cols to 2-column */
@media screen and (max-width: 600px) {
	/* grid4 */
	.grid4 .profilecol {
		width: 48.4%;
	}
	.grid4 .profilecol:nth-of-type(3n+1) {
		margin-left: 3.2%;
	}
	.grid4 .profilecol:nth-of-type(2n+1) {
		margin-left: 0;
	}

	/* grid3 */
	.grid3 .profilecol {
		width: 48.4%;
	}
	.grid3 .profilecol:nth-of-type(3n+1) {
		margin-left: 3.2%;
	}
	.grid3 .profilecol:nth-of-type(2n+1) {
		margin-left: 0;
	}
}

/* reset cols to fullwidth */
@media screen and (max-width: 400px) {
	/* grid4 */
	.profilecol {
		width: 100% !important;
		margin-left: 0 !important;

	}
}

.profileblock article:nth-of-type(100n) {
  border-color: azure;
}

.profileblock article:nth-of-type(100n+1) {
  border-color: aliceblue;
}

.profileblock article:nth-of-type(100n+2) {
  border-color: antiquewhite;
}

.profileblock article:nth-of-type(100n+3) {
  border-color: aquamarine;
}

